* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/Makefile.am -text
/NEWS -text
/README -text
/TODO -text
/apertium-fo-is.fo-is.dix -text
/apertium-fo-is.fo-is.rlx -text
/apertium-fo-is.fo.dix -text
/apertium-fo-is.is-fo.rlx -text
/apertium-fo-is.is-fo.t1x -text
/apertium-fo-is.is.dix -text
/autogen.sh -text
/configure.ac -text
dev/bidix/adjs.list -text
dev/bidix/adjs.scored.list -text
dev/bidix/adv.list -text
dev/bidix/adv.scored.list -text
dev/bidix/calc-levenshtein.py -text
dev/bidix/noun.list -text
dev/bidix/noun.scored.list -text
dev/bidix/prep.list -text
dev/bidix/prep.scored.list -text
dev/bidix/rerun-scores.sh -text
dev/bidix/vblex.list -text
dev/bidix/vblex.scored.list -text
dev/inconsistency.sh -text
dev/interwiki.bidix.xml -text
dev/is-en.nouns.txt -text
dev/is-fo.via-english.txt -text
/is-fo.prob -text
/modes.xml -text
/regression-tests.sh -text
